<div class="col-md-10 col-md-offset-1">
  <div class="new-game-form">
    <h1>Edit Game</h1>
    
    <%= simple_form_for @game, html: {multipart: true} do |f| %>
      <%= f.file_field :img %>
      <%= f.select :catergory_id, @catergories %>
      <%= f.input :title, label: "Game Title" %>
      <%= f.input :company, label: "Publishing Company" %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
