<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    <%= Rails.application.class.parent_name %>
  </title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= controller_name%> action-<%= action_name%>">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Game Power", root_path, class: "navbar-brand"  %>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div class="nav navbar-nav navbar-right">
          <ul class="nav navbar-brand"
            <% if user_signed_in? %>
              <li><%= link_to "Add Game", new_game_path %></li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, class: "navbar-brand",
            method: :delete %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "navbar-brand" %>
            <%= link_to "Log In", new_user_session_path, class: "navbar-brand" %>
          <% end %>
          <ul class="nav navbar-nav">
            <li class ="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-expanded="false">Genres <span class ="caret">
              </span></a>

              <ul class="dropdown-menu" role="menu">
                <% Catergory.all.each do |catergory| %>
                  <li class="<%='active' if params[:catergory] == catergory.name%>">
                    <%= link_to catergory.name, games_path(catergory: catergory.name),
                    class: "link" %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div
      </div>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<div class="container">
  <%= yield %>
</div>

  </div>
</body>
</html>
